<h1>shopping list</h1>

<table class="table table-striped">
<thead>
  <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Price</th> 
  </tr>
</thead>
<tbody>
  <%= @group %>
  <%= @result %>
  <% @result.each do |item, value| %>
  <tr>
  <td> <%= item%> </td>
  <td> <%= value[:difference] %> </td>
  <td> $<%= value[:difference] * value[:cost] %> </td>
  <% end %>
  </tr>
</tbody>
</table>