<%= render 'shared/navigation', post: @post%>

<h1> <%= @recipe.name %> </h1>

<div>
Cooking time: <%= @recipe.cooking_time%> <br>
Preparation time: <%= @recipe.preparation_time%>
</div>

<p> 
How to prepare <%= @recipe.name %>: <br>
<%= @recipe.description%> 
</p>

<div>
       <% if can? :manage, @recipe %>
       <%= button_to 'Change Visibility', toggle_visible_path(id: @recipe.id), method: :post %>
      <% end %>
is this recipe public?: <%= @recipe.public? %>
</div>

<div>
      <%= button_to 'Generate Shopping List'%>
      <% if can? :manage, @recipe %>
        <%= link_to 'Add ingredient', new_recipe_recipe_food_path(@recipe) %>
      <% end %>  
</div>

<table class="table table-striped">
  <tr>
      <th>Food</th>
      <th>Quatity</th>
      <th>Price</th>
      <th>Actions</th>
  </tr>
</table>


