  <div class="mx-auto bg-red-700 shadow-lg sm:content-around sm:py-4 sm:flex sm:justify-center sm:space-x-20 text-white font-bold">
    <%=link_to "Your RecipesðŸ”", root_path, class: "hover:underline" %>
    <%= link_to "All Public RecipesðŸ“–", public_recipes_path, class: "hover:underline" %>
    <%= link_to "Food ItemsðŸ“", foods_path, class: "hover:underline" %>  
    <%= link_to "Shopping ListðŸ›’", shopping_list_path, class: "hover:underline" %>
    <%= link_to "LogoutðŸ‘‹", destroy_user_session_path, class: "hover:underline" %>  
  </div>