<%= render 'shared/navigation', post: @post%>

<h1> List of foods </h1>

  <%=link_to "Add Food to List", new_food_path %>

<div class="foodscontainer">
  <% @foods.each do |food| %>
  <br>
<%= food.name %>
<%= food.quantity %> 
<%= food.measurement_unit %> 
$<%= food.price %> 
<%= button_to 'Delete', food_path(food.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %> 
  </div>
