<%= render 'shared/navigation', post: @post%>

<div class="sm:flex justify-center p-5">
<h1 class="text-2xl font-normal leading-normal mt-0 mb-2">  
List of foods </h1>
</div>

  
  <div class="sm:flex flex-col items-center mb-5">
<%=link_to "Add Food to List", new_food_path, class: "bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded" %>
</div>


<div class="sm:flex sm:justify-center">
<table class="w-9/12">
  <tr class="w-1/2 bg-red-500 text-white">
      <th>Food</th>
      <th>Quatity</th>
      <th>Price</th>
      <th>Actions</th>
  </tr>
<tbody>
<% @foods.each do |food| %>
      <tr class="even:bg-gray-300">
        <td><%= food.name %></td>
        <td><%= food.quantity%> <%= food.measurement_unit %>  </td>
           <td>$<%= food.price %></td>
        <td><%= button_to 'Delete', food_path(food.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "hover:underline hover:font-bold hover:text-red-500"  %> </td>
      </tr>
      <% end %>
</tbody>
</table>

</div>